@using BigSave.Web.Models.DataModel;
@model List<FlyerViewModel>
<div class="search-element media-body">
    <form class="d-flex" action="#">
        <div class="search-category">
            <select>
                <option value="0">All Categories</option>
                @{
                    foreach (var flyer in Model)
                    {
                        <option value="@flyer.Id">@flyer.FlyerCategory</option>
                    }
                }
            </select>
        </div>
        <input type="text" placeholder="Enter your search key ... " />
        <button><i class="icon-magnifier"></i></button>
    </form>
</div>