<div class="cnt-account">
    <ul class="list-unstyled">
        <li>
            <a asp-action="Index" asp-controller="Account"><i class="icon fa fa-user"></i>My Account</a>
        </li>
        <li>
            <a asp-action="Wishlist" asp-controller="Product"><i class="icon fa fa-heart"></i>Wishlist</a>
        </li>
        <li>
            <a asp-action="Cart" asp-controller="Product"><i class="icon fa fa-shopping-cart"></i>My Cart</a>
        </li>
        <li>
            <a href="#"><i class="icon fa fa-check"></i>Checkout</a>
        </li>
        <li>
            <a asp-action="Auth" asp-controller="Account"><i class="icon fa fa-lock"></i>SignIn &nbsp; Register</a>
        </li>
    </ul>
</div>