<div class="header-menu-nav">
    <ul class="menu-nav">
        <li>
            <div class="dropdown">
                <button type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">My account <i class="ion-ios-arrow-down"></i></button>
        </li>
        <li>
            <button type="button" id="dropdownMenuButton-2" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">My account <i class="ion-ios-arrow-down"></i></button>
        </li>
        <li>
            <button type="button" id="dropdownMenuButton-3" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">My account <i class="ion-ios-arrow-down"></i></button>
        </li>
    </ul>

</div>
