<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title>AllStore - MultiConcept eCommerce Template</title>

    <link
        href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700ii%7CRoboto:300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic"
        rel="stylesheet">

    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/ion.rangeSlider.css">
    <link rel="stylesheet" href="/css/ion.rangeSlider.skinFlat.css">
    <link rel="stylesheet" href="/css/jquery.bxslider.css">
    <link rel="stylesheet" href="/css/jquery.fancybox.css">
    <link rel="stylesheet" href="/css/flexslider.css">
    <link rel="stylesheet" href="/css/swiper.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/media.css">

</head>

<body>
    <!-- Header - start -->
    <header class="header">

        <!-- Topbar - start -->
        <partial name="_TopbarPartial"></partial>
        <!-- Topbar - end -->

        <!-- Logo, Shop-menu - start -->
        <partial name="_HeaderMiddlePartial"></partial>
        <!-- Logo, Shop-menu - end -->

        <!-- Topmenu - start -->
        <partial name="_HeaderBottomPartial"></partial>
        <!-- Topmenu - end -->

    </header>
    <!-- Header - end -->


    <!-- Main Content - start -->
    <main>

        @RenderBody()
        <!-- Main Content - end -->


        <!-- Footer - start -->
        <partial name="_FooterPartial"></partial>
        <!-- Footer - end -->


        <!-- jQuery plugins/scripts - start -->
        <script src="/js/jquery-1.11.2.min.js"></script>
        <script src="/js/jquery.bxslider.min.js"></script>
        <script src="/js/fancybox/fancybox.js"></script>
        <script src="/js/fancybox/helpers/jquery.fancybox-thumbs.js"></script>
        <script src="/js/jquery.flexslider-min.js"></script>
        <script src="/js/swiper.jquery.min.js"></script>
        <script src="/js/jquery.waypoints.min.js"></script>
        <script src="/js/progressbar.min.js"></script>
        <script src="/js/ion.rangeSlider.min.js"></script>
        <script src="/js/chosen.jquery.min.js"></script>
        <script src="/js/jQuery.Brazzers-Carousel.js"></script>
        <script src="/js/plugins.js"></script>
        <script src="/js/main.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhAYvx0GmLyN5hlf6Uv_e9pPvUT3YpozE"></script>
        <script src="/js/gmap.js"></script>
        <!-- jQuery plugins/scripts - end -->

</body>

</html>